@import './reset';

.container {
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 85px 0;
  min-height: calc(100vh - 100px);
  width: 100%;
  margin-top: 5px;
}
