@import './reset';

body {
  padding-bottom: 100px;
}

.container {
  display: block;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
}
