@import '../../../style/var.scss';

.home {
  width: 100%;
  height: 100vh;

  &Info {
    font-family: $fontM;
    margin-top: 25vh;
    margin-bottom: 50px;

    h1 {
      font-size: 55px;
      font-weight: 500;

      span {
        color: $purple;
      }
    }

    p {
      font-size: 32px;
    }
  }
}
