@import url(./style/fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  position: relative;
  background-image: url('./assets/bg.png');
  background-size: contain;
  padding-bottom: 50px;
}

.app {
  position: relative;
}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
