@import '../../../style/var.scss';

.card {
  @include neubrutalismBlock;
  padding: 15px 0;

  width: 30%;

  p {
    font-family: 'Montserrat', sans-serif;

    span {
      color: $purple;
    }
  }

  &Header {
    border-bottom: 1px solid #000;
    padding: 0 15px 15px;
    font-size: 26px;
    font-weight: 600;
  }

  &Inner {
    padding: 15px 15px 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    height: 120px;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      list-style-type: none;
      font-family: 'Montserrat', sans-serif;
      margin-right: 10px;
      font-size: 16px;
      margin-bottom: 10px;

      &::marker {
        color: $purple;
      }
    }
  }

  &ProjectLink {
    text-decoration: none;
    @include neubrutalismBlock;
    min-width: 40%;
    padding: 10px 25px;
    display: inline-block;
    margin-left: 15px;
    color: #000;
    transition: all 0.2s ease;

    &:hover {
      color: #fff;
      background: $purple;
    }
  }
}
